@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&display=swap');


/* GERAL */


body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    width: 100%;
}

main {
    margin: 0 auto;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 2rem 0;
}



/* CABEÇALHO */



.cabecalho {
    text-align: center;
    padding: 4rem 1rem;
    background-image: url("css-assets/background-veg.png");
    background-size: cover;
    color: white;
    position: relative;
    z-index: 1;
    min-height: 400px;
}

.cabecalho::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.cabecalho .titulo {
    display: flex;
    justify-content: center;
}

.cabecalho .logo {
    max-width: 400px;
    height: auto;
    margin-bottom: 1rem;
}

.cabecalho .subtitulo {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #fff;
    word-wrap: break-word;
}

.cabecalho .descricao {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #fff;
}

.cabecalho .botao {
    padding: 0.75rem 1.5rem;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.cabecalho .botao:hover {
    background-color: #45A049;
}



/* DESCRIÇÃO */



.descricao {
    padding: 2rem 1rem;
    background-color: #f7f7f7;
    text-align: center;
    margin: 2rem auto;
    margin-bottom: 0rem;
    max-width: 100%;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.descricao h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #2b2b2b;
}

.descricao .texto p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    color: #555;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.descricao .grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.descricao .item {
    text-align: center;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-bottom: 1rem;
    width: 300px;
    /* Animação */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.descricao .item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.descricao .item i {
    font-size: 2.5rem;
    color: darkgreen;
    margin-bottom: 1rem;
}

.descricao .item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.descricao .item p {
    font-size: 1rem;
    color: #666;
}



/* FUNCIONAMENTO */


.funcionamento {
    position: relative;
    padding-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    max-width: 100%;
}

.funcionamento h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 5rem;
    color: black;
    z-index: 0;
}

.lista-funcionamento {
    list-style: none;
    counter-reset: step;
    padding: 1rem;
}

.lista-funcionamento li {
    counter-increment: step;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background: rgb(65, 102, 65);
    color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
}

.lista-funcionamento strong {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}

.lateral-imagem {
    position: absolute;
    top: 0px;
    margin-top: 0px;
    width: 200px;
}

.lateral-imagem.esquerda {
    left: 0px;
}

.lateral-imagem.direita {
    right: 0px;
}


/* DEPOIMENTOS - SWIPER */



.depoimentos{
    padding: 10px 0px;
    padding-bottom: 30px;
    position: relative;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
    border-left-style: solid;
    border-right-style: solid;
    border-color: darkgreen;
}

.depoimentos .slide{
    cursor: grab;
}

.depoimentos .slide:active{
    cursor: grabbing;
}

.depoimentos i{
    font-size: 20px;
    color: darkgreen;
}

.info-person{
    text-align: left;
}

.info-person i{
    color: rgb(255, 230, 0);
}

.depoimentos p.depoi-txt{
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 20px;
}

.slide .person{
    display: flex;
    align-items: left;
    gap: 20px;
}

.slide .person img{
    width: 80px;
    height: 80px;
    margin-top: 2rem;
    margin-left: 2rem;
}

.slide .person p.nome-person{
    font-size: 32px;
    font-weight: 900;
}

.slide .person p.nome-person{
    font-size: 18px;
}



/* CARDS - PLANOS */



.cards {
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1600px;
}

.planos-title{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 4rem;
    max-width: 1000px;
    font-size: 2rem;
    text-align: center;
}

.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 2rem;
    border-radius: 16px;
    width: 400px;
    height: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    /* Animação */
    transition: transform 0.3s ease; 
}

.cards section.card:hover {
    transform: scale(1.05);
}

.cards section.card .icon {
    width: 80px;
    height: 80px;
}

.cards section.card img {
    width: 100%;
}

.cards section.card h3 {
    font-size: 1.1rem;
    margin: 8px;
}

.cards section.card ul {
    display: grid;
    padding-inline-start: 20px;
    align-items:normal;
    min-height: 120px;
}

.cards section.card li {
    max-width: 300px;
    font-size: 1.1rem;
}

.cards section.card span {
    font-weight: bold;
    max-width: 320px;
    margin-bottom: 5%;
    margin-top: auto;
    vertical-align: bottom;
}

.cards section.card button {
    padding: 0.5rem 1rem;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 100%;
    font-weight: 450;
    color: #fff;
    margin-bottom: 16px 0;
    margin-top: 10px;
    font-family: "Quicksand", sans-serif;
}

.cards section.card.planos button {
    background: linear-gradient(to right, darkgreen, green);
}

.cards section.card.planos {
    box-shadow: 20px 20px 50px -10px rgb(65, 102, 65);
}



/* FAQ */



.faq {
    margin-top: 2rem;
    padding: 2rem 1rem;
    margin: 2rem auto;
    max-width: 1200px;
    text-align: center;
}

.faq h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    word-wrap: break-word;
}

.faq details {
    margin-bottom: 1rem;
}

.faq summary {
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
}

.faq p {
    margin: 0.5rem 0 0;
    font-size: 1.2rem;
}



/* FOOTER */



footer {
    text-align: center;
    padding: 1rem;
    background: #193014;
    color: #fff;
    margin-top: 2rem;
    
}



/* RESPONSIVIDADE */



@media screen and (max-width: 768px) {
    .cabecalho .titulo {
        font-size: 2rem;
    }

    .cabecalho .subtitulo {
        font-size: 1.2rem;
    }

    .descricao h2,
    .faq h2 {
        font-size: 1.5rem;
    }

    .faq summary {
        font-size: 1rem;
        word-wrap: break-word;
    }


}

/* Para dispositivos menores que 480px */
@media screen and (max-width: 480px) {
    .cabecalho .titulo {
        font-size: 1.8rem;
    }

    .cabecalho .subtitulo {
        font-size: 1rem;
    }

    .faq h2 {
        font-size: 1.3rem;
    }

    .faq summary {
        font-size: 0.9rem;
    }
}